 <!doctype html>
<html lang="en"> 
 <head> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  <meta name="description" content="free apis for whatsapp bot, telegram, web, dll. There are many features including the ai menu to the download menu"> 
  <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate"> 
   <meta name="keywords" content="rest-api, nueapi, Nue-Api, gpt free, chatgpt free, ai free, ai api, restfulapi, rest api free">
  <meta name="author" content=""> 
  <title>Free Rest API - NueApi</title> 
  <script src="https://kit.fontawesome.com/5367cb78eb.js" crossorigin="anonymous"></script> 
  <meta property="og:site_name" name="og:site_name" content="NueApi"> 
  <meta property="og:title" name="og:title" content="Free Rest API - NueApi"> 
  <meta property="og:url" name="og:url" content="https://nue-api.vercel.app"> 
     <meta property="og:url" name="og:url" content="https://nueapi.vercel.app"> 
  <meta property="og:description" name="og:description" content="Rest API"> 
  <meta property="og:image" content="https://telegra.ph/file/e07e0fddc2a2967bd08d6.jpg"> 
  <link rel="shortcut icon" href="https://telegra.ph/file/e07e0fddc2a2967bd08d6.jpg"> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="google-site-verification" content="56YeBbuG0gd_lhNQHUpON49j_BgV3P0dITas6LTOKSQ" />
 </head>
 <body>
  <br>
  <br>
  <br> 
  <meta name="msapplication-TileColor" content="#ffffff"> 
  <meta name="theme-color" content="#ffffff"> 
  <link rel="canonical" href="/">     
  <div class="text"> 
   <div class="status"> 
    <p>STATUS : <span class="typed-text"></span><span class="cursor typing"></span></p> 
   </div> 
      <script type="text/javascript">
          atOptions = {
              'key' : '2bc0c6c2f3b062ed165d140adef0629d',
              'format' : 'iframe',
              'height' : 60,
              'width' : 468,
              'params' : {}
          };
      </script>
      <script type="text/javascript" src="//www.topcreativeformat.com/2bc0c6c2f3b062ed165d140adef0629d/invoke.js"></script>
   <hr> 
   <div class="readdocs"> 
    <p>Read <a href="/docs" class="docs">Docs.</a></p> 
   </div> 
  </div> 
  <div class="bottom"> 
   <p> <a href="https://chat.whatsapp.com/D6bHVUjyGj06bb6iZeUsOI" rel="n" class="sosmed"><i class="fa-brands fa-whatsapp"></i> Grub Wa</a> </p> 
  </div>  
  <style>
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&amp;display=swap);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif
}

html {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUL_F6EG0TyZZdPfHqG2wdnJ-f3rUdozS4Tw&usqp=CAU") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

div.text {
    position: absolute
}

div.text .status {
    position: relative;
    animation: animetop .8s
}

div.text .readdocs {
    position: relative;
    animation: animebot .8s;
    text-align: center
}

@keyframes animetop {
    0% {
        top: -200px;
        opacity: 0
    }
    100% {
        top: 0;
        opacity: 1
    }
}

@keyframes animebot {
    0% {
        top: 200px;
        opacity: 0
    }
    100% {
        top: 0;
        opacity: 1
    }
}

p {
    color: rgba(255, 255, 255, .8);
    letter-spacing: .15em;
    font-size: 15px!important;
    font-weight: 600
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5)
}

a.sosmed {
    color: rgba(255, 255, 255, .8)
}

a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1)
}

.typed-text {
    color: #0f0
}

.cursor {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 1.5s steps(40, end), blink-caret .75s step-end infinite
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}

hr {
    margin: 10px auto;
    position: relative;
    background: rgba(255, 255, 255, .5);
    width: 80%;
    height: 2px
}

div.bottom {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, -50%);
    margin: 0 auto
}
</style> 
  <script>
const typedTextSpan = document.querySelector(".typed-text"),
    textArray = ["AKTIF", "ONLINE"],
    typingDelay = 200,
    erasingDelay = 100,
    newTextDelay = 2e3;
let textArrayIndex = 0,
    charIndex = 0;

function type() { charIndex < textArray[textArrayIndex].length ? (typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex), charIndex++, setTimeout(type, 200)) : setTimeout(erase, 2e3) }

function erase() { charIndex > 0 ? (typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex - 1), charIndex--, setTimeout(erase, 100)) : (textArrayIndex++, textArrayIndex >= textArray.length && (textArrayIndex = 0), setTimeout(type, 1300)) }
document.addEventListener("DOMContentLoaded", (function() { setTimeout(type, 2250) }));

$(document).ready((function() {
    $(".changeprofile").submit((function(e) {
        var formObj, formURL = $(this).attr("action"),
            formData = new FormData(this);
        $.ajax({ url: formURL, type: "POST", data: formData, contentType: !1, cache: !1, processData: !1, beforeSend: function() { $("button").attr("disabled", "disabled"), $("input").attr("disabled", "disabled"), $("a").attr("disabled", "disabled"), $(".inibutton").html('<i class="fas fa-spinner fa-spin"></i> Wait') }, success: function(data) { data.includes("Success") ? ($("button").removeAttr("disabled", "disabled"), $("a").removeAttr("disabled", "disabled"), $("input").removeAttr("disabled", "disabled"), $(".inibutton").html("Save"), $.notify({ icon: "tim-icons icon-check-2", message: data }, { type: "success", timer: 3e3, placement: { from: "top", align: "right" } }), window.location = window.location) : ($("button").removeAttr("disabled", "disabled"), $("a").removeAttr("disabled", "disabled"), $("input").removeAttr("disabled", "disabled"), $(".inibutton").html("Save"), $.notify({ icon: "tim-icons icon-simple-remove", message: data }, { type: "danger", timer: 3e3, placement: { from: "top", align: "right" } })) } }), e.preventDefault()
    }))
}))

</script> 
 </body>
</html>
